* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #ccd2af;
	scroll-behavior: smooth;
	font-family: "Source Sans Pro", sans-serif;
}

/*  NAVBAR   */

nav {
	background-color: #9dc08b;
	max-height: 70px;
}
.navbar-collapse {
	background-color: #9dc08b;
}

.navbar-brand {
	font-family: "Playfair Display", serif;
	font-size: 1.5rem;
}
.navbar-brand img {
	width: 2rem;
}

.navbar-nav a {
	color: white;
}

.navbar-nav a:hover {
	color: #2b5f33;
	font-weight: 700;
}

/* HEADER */

h1 {
	font-family: "Playfair Display", serif;
	text-shadow: -5px 3px 3px rgba(100, 100, 100, 0.81);
}

header {
	background-image: url(../img/nature.jpg);
	background-position: 0%;
	background-repeat: no-repeat;
	background-size: cover;
	height: 90vh;
}

#cta {
	background-color: #609966;
	border-color: #609966;
}

#cta:hover {
	background-color: #346439;
	border-color: #346439;
}

/*  DISCOVER  */

#discover,
#enChile {
	color: #2b5f33;
}
#discover p {
	font-size: 1.1rem;
}

#discover span {
	font-size: 3rem;
}

/* carusel */
.carousel-control-next-icon,
.carousel-control-prev-icon {
	width: 3rem;
	height: 4rem;
}
